
<div class="hero_area">
  
  <!-- slider section -->
  <section class="slider_section ">
    <div class="slider_bg_box">
      <%= image_tag "slider-bg.jpg" %>
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Elegant Watches
                  </h1>
                  <p>
                    Looking for sophisticated watches? We got you covered, explore our collection.
                  </p>
                  <div class="btn-box">
                    <a href="/gallery/index" class="btn1">
                      Explore
                    </a>
                    <a href="/about" class="btn2">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Casual Watches
                  </h1>
                  <p>
                    Looking for casual watches? Explore our collection.
                  </p>
                  <div class="btn-box">
                    <a href="/gallery/index" class="btn1">
                      Explore
                    </a>
                    <a href="/about" class="btn2">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    Premium Watches
                  </h1>
                  <p>
                    Looking for premium watches? Explore our collection.
                  </p>
                  <div class="btn-box">
                    <a href="/gallery/index" class="btn1">
                      Explore
                    </a>
                    <a href="/about" class="btn2">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>

  </section>
  <!-- end slider section -->
</div>


<!-- service section -->

<section class="service_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <%= image_tag "feature-1.png" %>
          </div>
          <div class="detail-box">
            <h5>
              Fast Delivery
            </h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <%= image_tag "feature-2.png" %>
          </div>
          <div class="detail-box">
            <h5>
              Free Shiping
            </h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <%= image_tag "feature-3.png" %>
          </div>
          <div class="detail-box">
            <h5>
              Best Quality
            </h5>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <%= image_tag "feature-4.png" %>
          </div>
          <div class="detail-box">
            <h5>
              24x7 Customer support
            </h5>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end service section -->





<!-- product section -->
<%= link_to '/gallery/index', style:"color:black" do %>
  <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          Top Sale Watches
        </h2>
      </div>
      <div class="product_container">
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag "w1.png" %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Collection by
                </h6>
                <h6>Watchsy</h6>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag "w2.png" %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Collection by
                </h6>
                <h6>Watchsy</h6>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag "w3.png" %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Collection by
                </h6>
                <h6>Watchsy</h6>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
<% end %>

<!-- end product section -->


<!-- product section -->
<%= link_to '/gallery/index', style:"color:black" do %>
  <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          Feature Watches
        </h2>
      </div>
      <div class="product_container">
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag "w4.png" %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Collection by
                </h6>
                <h6>Watchsy</h6>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag "w5.png" %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Collection by
                </h6>
                <h6>Watchsy</h6>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag "w6.png" %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Collection by
                </h6>
                <h6>Watchsy</h6>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
<% end %>


<!-- end product section -->


<!-- product section -->
<%= link_to '/gallery/index', style:"color:black" do %>
  <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          New Arrivals
        </h2>
      </div>
      <div class="product_container">
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag "w7.png" %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Collection by
                </h6>
                <h6>Watchsy</h6>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag "w8.png" %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Collection by
                </h6>
                <h6>Watchsy</h6>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <%= image_tag "w9.png" %>
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  Collection by
                </h6>
                <h6>Watchsy</h6>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
<% end %>


<!-- end product section -->










