<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @line_item.store_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @line_item.user_id %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @line_item.qty %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
