<!-- info section -->
<section class="info_section layout_padding2" style="padding-bottom:1rem">
    <div class="container">
    <div class="info_logo">
        <h2>
        Watchsy
        </h2>
    </div>
    <div class="row" style="place-content:center">

        <div class="col-md-3">
        <div class="info_contact">
            <h5>
            Get to know us
            </h5>
            <div>
            <a href='/about' style="color:white">About Us</a>
            </div>
            
        </div>
        </div>
        <div class="col-md-3">
        <div class="info_info">
            <h5>
            Quick Links
            </h5>
            <div>
            <%= link_to 'Home', '/', style:"color:white" %>
            </div>
            <div style="margin-top:0.5rem">
            <%= link_to 'Products', '/gallery/index', style:"color:white" %>
            </div>
            <div style="margin-top:0.5rem">
            <%= link_to 'Signup', '/users/sign_up', style:"color:white" %>
            </div>
            <div style="margin-top:0.5rem">
            <%= link_to 'Login', '/users/sign_in', style:"color:white" %>
            </div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="info_insta">
            <h5>
            Our Collection
            </h5>
            <div class="insta_container">
            <div class="row m-0">
                <div class="col-4 px-0">
                <a href="/gallery/index">
                    <div class="insta-box b-1">
                    <%= image_tag "w1.png" %>
                    </div>
                </a>
                </div>
                <div class="col-4 px-0">
                <a href="/gallery/index">
                    <div class="insta-box b-1">
                    <%= image_tag "w2.png" %>
                    </div>
                </a>
                </div>
                <div class="col-4 px-0">
                <a href="/gallery/index">
                    <div class="insta-box b-1">
                    <%= image_tag "w3.png" %>
                    </div>
                </a>
                </div>
                <div class="col-4 px-0">
                <a href="/gallery/index">
                    <div class="insta-box b-1">
                    <%= image_tag "w4.png" %>
                    </div>
                </a>
                </div>
                <div class="col-4 px-0">
                <a href="/gallery/index">
                    <div class="insta-box b-1">
                    <%= image_tag "w5.png" %>
                    </div>
                </a>
                </div>
                <div class="col-4 px-0">
                <a href="/gallery/index">
                    <div class="insta-box b-1">
                    <%= image_tag "w6.png" %>
                    </div>
                </a>
                </div>
            </div>
            </div>
        </div>
        </div>

        
    </div>
    </div>
    <div class='link-container'>
    <div class='text' style="text-align:center;margin-top:2rem;color:white;border:none">
        Developed with ❤️ by <%= link_to 'Nitin Pasricha', "https://in.linkedin.com/in/nitin-pasricha", target:"_blank", style:'color:white' %>
    </div>
    </div>
</section>

<!-- end info_section -->

<!-- footer section -->
<section class="footer_section">
    <div class="container">
    
    <p>
        Copyright &copy; <span id="displayYear"></span> Watchsy. All Rights Reserved.
    </p>
    </div>
</section>
<!-- footer section -->