<!DOCTYPE html>
<html>
  <head>
    <title>Watchsy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <%= favicon_link_tag asset_path('fevicon/fevicon.png') %>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- header section strats -->
    
    <%= render '/partials/header' %>

    <!-- end header section -->

    <%= yield %>

    <%= render '/partials/footer' %>
    

    <!-- jQery -->
    <%= javascript_pack_tag "jquery-3.js" %>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <%= javascript_pack_tag "bootstrap.js" %>
    <!-- custom js -->
    <%= javascript_pack_tag "custom.js" %>
  </body>
</html>
